<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Team04"
        tools:ignore="ExtraText">
        <activity
            android:name="gr.aueb.sweng22.team04.view.examiner.ExaminerActivity"
            android:exported="false" />
        <activity
            android:name="gr.aueb.sweng22.team04.view.login.signUp.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="gr.aueb.sweng22.team04.view.candidate.CandidateActivity"
            android:exported="false" />
        <activity
            android:name="gr.aueb.sweng22.team04.view.login.signIn.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Team04"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>